@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    I will never use your data for anything. I don't care about your data. Your data is uninteresting to me.
    Using your data would be beneath me and make me a worse human being.
</p>
